body {
	color: white;
	font-weight: bold;
	text-align: center;
	font-family:American Typewriter, serif; 
	background-image: url(https://wlmf0922.github.io/Twine-1/images/sea2.jpg);
	background-repeat: no-repeat;
}
